.web-chat-container {
  background: #9C2626;
  min-height: 268px;
  width: 320px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 5px; }
  .web-chat-container h2 {
    margin: 0px;
    font-size: 18px; }
  .web-chat-container .chat-message-box {
    background: #DFDFDF;
    color: #707070;
    margin-top: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 5px;
    border: 2px solid #fff;
    min-height: 140px;
    max-height: 400px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 25px; }
    .web-chat-container .chat-message-box .start {
      font-size: 20px;
      font-weight: bold; }
    .web-chat-container .chat-message-box .message-list .chat-message {
      font-size: 12px;
      padding: 10px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 5px; }
      .web-chat-container .chat-message-box .message-list .chat-message span {
        color: #000;
        font-weight: bold; }
      .web-chat-container .chat-message-box .message-list .chat-message:nth-child(even) {
        background: #E7E7E7; }
  .web-chat-container .box-triangle {
    width: 0;
    height: 0;
    border-top: 38px solid #DFDFDF;
    border-bottom: 38px solid transparent;
    border-right: 38px solid transparent;
    position: absolute;
    right: 30px;
    bottom: 20px; }
  .web-chat-container .chat-now {
    text-align: right;
    text-decoration: underline;
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
    border: 0px;
    padding: 20px 5px 0px 5px; }
  .web-chat-container .chat-send-form {
    padding: 20px 0 10px 5px; }
    .web-chat-container .chat-send-form .btn {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-weight: bold;
      padding: 5px; }
    .web-chat-container .chat-send-form input {
      width: 240px;
      padding: 5px; }
  .web-chat-container .hide {
    display: none; }
