.web-chat-container{
    background:#9C2626;
    min-height:268px;
    width:320px;
    position: fixed;
    bottom:0px;
    right:0px;   
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}